recursive-include django_users/static *
recursive-include django_users/templates *
recursive-include django_users/tools *
recursive-include django_users/management *
recursive-include django_users/docs *
