Django
httpx
twilio
nanoid
qrcode
djangorestframework
djangorestframework-api-key
djangorestframework-datatables
python-jose
git+https://github.com/phoebebright/django-docserve
django_countries
email-validator
pycountry

git+https://github.com/phoebebright/django-yamlfield
django-timezone-field

# --- provider-specific (install the one matching AUTH_PROVIDER) ---
# AUTH_PROVIDER = 'authentik':
mozilla-django-oidc
# AUTH_PROVIDER = 'keycloak' (uncomment):
# git+https://github.com/phoebebright/django-keycloak-admin
