{% extends "django_users/users_narrow_base.html" %}
{% load i18n %}
{% load bootstrap5 %}

{% block title %}{% trans "Change Password" %}{% endblock %}
{% block content %}

<h2 class="text-center mb-4">{% trans "Change Password" %}</h2>


<form method="post" novalidate>
    {% csrf_token %}
    {% bootstrap_form form %}



<div class="d-grid gap-2 d-md-flex justify-content-md-between mt-3">
    <a class="btn btn-outline-secondary " href="{% url 'users:user-profile' %}">Cancel</a>
    <button type="submit" class="btn btn-primary float-end">Change Password</button>
</div>

</form>
{% endblock %}
