{% extends "django_users/users_narrow_base.html" %}
{% load i18n %}
{% load bootstrap5 %}

{% block title %}{% trans "Reset Password" %}{% endblock %}
{% block content %}


    <form method="post" action="{% url 'users:forgot_password' %}?from_form=true">
        {% csrf_token %}

        <h2>{% trans "Reset Password" %}</h2>
        <h4 class="mb-3 mt-3">Step {{ step }} of 4</h4>
        <!-- Step 1: Email Entry (or display as read-only) -->
        <div class="mb-3">

            {% if step == 1 %}
                <p>Please enter your email so we can check it is registered:</p>
                <!-- Step 1: Show email as editable -->
                {% bootstrap_field form.email show_label=False %}
            {% else %}

                <!-- Steps 2, 3, 4: Show email as read-only -->
                <input type="hidden" name="email" value="{{ form.email.value }}" readonly class="form-control-plaintext">
            {% endif %}

        </div>

        <!-- Step 2: Channel Selection (or display as read-only) -->
        {% if form.channel and step >= 2 %}
            <div class="mb-3">
                <input  name="channel" value="{{ form.channel.value }}" type="hidden">
                {% if step == 2 %}
                    <div class="mb-3">Click to send a verification code to:</div>
                    <input name="channel" type="hidden" value="" id="id_channel">
                    {% for item in user.comms_channels.all %}

                        <button  class="btn btn-primary pick_channel mt-1 float-end" data-channel_pk="{{ item.pk }}">{{ item.value }}...</button>
                    {% endfor %}
                {% elif step == 3 %}
                    <!-- Steps 3, 4: Show selected channel as read-only -->
                    {#                    Sent verification code to:#}
                    {#                    {{ channel.obfuscated_value }}#}

                {% endif %}

            </div>
        {% endif %}

        <!-- Step 3: Verification Code -->
        {% if form.verification_code and step < 4 %}
            <div class="mb-3">
                <label for="id_verification_code" class="form-label">Enter verification code from the email:</label>
                {% bootstrap_field form.verification_code show_label=False %}


                {% elif form.verification_code %}
                <input type="hidden" name="verification_code" value="{{ verification_code }}">
            </div>
        {% endif %}

        <!-- Step 4: New Password Entry -->
        {% if form.new_password and form.confirm_password %}
            <div class="mb-3">
                {% bootstrap_field form.new_password %}
            </div>
            <div class="mb-3">
                {% bootstrap_field form.confirm_password %}

            </div>
        {% endif %}

        <!-- Submit Button -->
        {% if step != 2 %}
            <!-- Optional: Back Button -->
            <div class=" {% if form.verification_code or form.new_password %}d-flex justify-content-between{% endif %}">
                {% if form.verification_code or form.new_password %}

                    <a href="{% url 'users:forgot_password' %}?step={{ request.session.forgot_password_step|default_if_none:1|add:'-1' }}" class="btn btn-outline-secondary">
                        {% trans "Back" %}
                    </a>

                {% endif %}

                <button type="submit" class="btn btn-primary float-end">

                    {% if form.verification_code and step == 3 %}
                        {% trans "Check Code" %}
                    {% elif form.verification_code and step == 4 %}
                        {% trans "Reset Password" %}
                    {% elif form.new_password and form.confirm_password %}
                        {% trans "Reset Password" %}
                    {% else %}
                        {% trans "Check Email" %}
                    {% endif %}
                </button>
            </div>
        {% endif %}

        </div>
    </form>

    {#    <div class="mt-5">#}
    {#    <hr />#}
    {#        <a href="{% url LOGIN_URL %}" class="text-primary">{{ LOGIN_TERM }}</a>#}
    {#        <a href="{% url REGISTER_URL %}" class="text-primary float-end">{{ REGISTER_TERM }}</a>#}
    {#    </div>#}

{% endblock %}

{% block js %}
    <script>
        $(document).ready(function() {
            $(".pick_channel").click(function() {
                // Get the data-channel_pk from the clicked button
                var channelPk = $(this).data("channel_pk");

                // Set the hidden input value
                $("#id_channel").val(channelPk);

                // Submit the form
                $("#channel_form").submit();
            });

            $('form').on("submit", function() {
                // Disable the submit button to prevent double-clicks
                console.log("submitting form");
            });
        });
    </script>
{% endblock %}
