{% extends "django_users/users_narrow_base.html" %}
{% load i18n %}

{% block title %}Login{% endblock %}


{% block content %}
<!-- Logo and Login Form -->
<div class="text-center mb-4">
    <img src="{{LOGO_URL}}" alt="{{SITE_NAME}} {{ LOGIN_TERM}}" width="120">
</div>

<h2 class="text-center mb-4 ">Log in</h2>


{% include "django_users/include_login_form.html" %}



<!-- Signup Link -->
<div class="text-center mt-3">
    <p>Don’t have an account? <a href="{% url "users:register" %}" class="text-primary">{{ REGISTER_TERM}}</a></p>
    <p><a href="#"  class="text-primary goto_problem_login">Problem with {{ LOGIN_TERM}}?</a></p>
    <p> <a class="text-primary" href="{% url "users:problem_register" %}">Help me {{ REGISTER_TERM}}</a> </p>
</div>


<!-- Footer Links -->
<div class="text-center mt-4">
    <a href="/privacy/" class="text-muted me-3">Privacy Policy</a>
    <a href="/about/" class="text-muted">About Skorie</a>
    <p class="text-muted mt-2">© {{ COPYRIGHT }}. All rights reserved.</p>
</div>



{% endblock %}

{% block js  %}
<script>
    $(document).ready(function () {


        function getQueryParam(param) {
            let urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(param);
        }


// can pass email as a query parameter if you want it prepopulated
        let emailParam = getQueryParam('email');
        if (emailParam) {
            $('#id_email').val(emailParam);

            $("#id_password").focus();

        } else {
            $("#id_email").focus();
        }


        $(".login_form").slideDown();





    })
</script>
{% endblock %}
