{% extends "users/users_narrow_base.html" %}
{% load i18n %}
{% load bootstrap5 %}
{% block title %}{% trans "Add Contact Method" %}{% endblock %}
{% block content %}


            <h2>{% trans "Add Contact Method" %}</h2>
            <form id="add_channel_form" method="post">
                {% csrf_token %}
                {% bootstrap_field form.channel_type %}
                {% bootstrap_field form.username_code %}

                <div id="email_form" style="display:none;">
                    {% bootstrap_field form.email show_label=False %}
                </div>
                <div id="mobile_form" style="display:none;">
                    {% bootstrap_field form.mobile show_label=False %}
                </div>
                <div id="errors" class="text-warning"></div>
                <button type="submit" class="btn btn-primary">{% trans "Add Contact Method" %}</button>

            </form>
       <div class="mt-3">
        <a href="{% url 'users:login' %}" class="text-primary">{{ LOGIN_TERM }}</a>
        <a href="{% url 'users:register' %}" class="text-primary float-end">{{ REGISTER_TERM }}</a>
    </div>
{% endblock %}

{% block js %}


    <!-- Include intl-tel-input CSS and JavaScript -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

    <!-- Include Google's libphonenumber utils for validation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js"></script>


    <script>



        $(document).ready(function() {

                // pass on where to go back to after verification
    let backUrl = getQueryParam('back');

            $("#id_channel_type").change(function() {
                if ($("#id_channel_type").val() == "email") {
                    $("#email_form").slideDown();
                    $("#mobile_form").slideUp();
                    $("#id_email").focus();
                } else {
                    $("#mobile_form").slideDown();
                    $("#email_form").slideUp();
                    $("#id_mobile").focus();
                }
            });

            $("form").submit(function(event) {
                event.preventDefault(); // Prevent default form submission
                let phoneNumber = '';

                if ($('[name="channel_type"]').val() != "email") {

                    if (!iti.isValidNumber()) {
                        event.preventDefault();
                        alert("Please enter a valid phone number.");
                        phoneInputField.addClass("is-invalid");
                    } else {
                        // Set the phone number in international format before submitting
                        phoneNumber = iti.getNumber();
                        phoneInputField.val(phoneNumber); // Set value in international format
                    }
                }

                // Gather form data
                let payload = {
                    channel_type:  $("#id_channel_type").val(),
                    email:   $("#id_email").val(),
                    mobile:  phoneNumber,
                    username_code: $("#id_username_code").val(),
                    back: backUrl,
                };

                // Send AJAX request to API endpoint
                $.ajax({
                    url: SKORIE_API +'/api/v2/comms_channel/',
                    type: 'POST',
                    data: payload,

                    success: function(response) {
                        document.location.href = response.next;
                    },
                    error: function(xhr) {
                        if (xhr.status === 400) {  // Check for validation error status

                            let errors = xhr.responseJSON.errors;
                            if (errors == "exists") {
                                $("#errors").text("This channel already exists and has been verified.");
                            } else {
                                $("#errors").text(errors.error);
                            }

                        } else {
                            alert("An unexpected error occurred. Please try again.");
                        }
                    }
                });
            });





            // Initialize intl-tel-input with options
            const phoneInputField = $("#id_mobile");
            const iti = intlTelInput(phoneInputField[0], {
                initialCountry: "auto",
                utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
                separateDialCode: true,
                geoIpLookup: function(callback) {
                    $.get('https://ipinfo.io', function() {}, 'jsonp').always(function(resp) {
                        const countryCode = (resp && resp.country) ? resp.country : "us";
                        callback(countryCode);
                    });
                }
            });
            $(".iti").addClass("w-100");
            // Real-time validation on input event
            phoneInputField.on("input", function() {
                // Check if the phone number is valid
                if (iti.isValidNumber()) {
                    // Show success feedback
                    phoneInputField.removeClass("is-invalid").addClass("is-valid");
                    $("#phone-feedback").text("Valid phone number").removeClass("invalid-feedback").addClass("valid-feedback");
                } else {
                    // Show error feedback
                    phoneInputField.removeClass("is-valid").addClass("is-invalid");
                    $("#phone-feedback").text("Please enter a valid phone number").removeClass("valid-feedback").addClass("invalid-feedback");
                }
            });


            // Remove error class when user starts editing
            phoneInputField.on("input", function() {
                phoneInputField.removeClass("is-invalid");
            });


            $("input[name='preferred_channel']").on("change", function(){
                if ($(this).val() == "email") {
                    $("#mobile").hide();
                } else {
                    $("#mobile").show();
                }
            });


        });

    </script>

{% endblock %}
