<div class="login_form" style="display:none;">
    <form method="post" action="{% url "users:user_login" %}" class="mx-auto">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">

        <div class="form-floating mt-2">
            <input type="email" name="email" class="form-control" id="id_email" placeholder="name@example.com" required>
            <label for="id_email">Email</label>
        </div>
        <div class="form-floating mt-2">
            <input type="password" name="password" class="form-control" id="id_password" placeholder="Password" required>
            <label for="id_password">Password</label>
        </div>


        <button id="submit_login" class="btn btn-primary w-100 my-2" type="submit">Login</button>

    </form>
</div>

<script>
    $(document).on("click", ".login", function() {
        $(".login").slideUp();
        {#$(".login_buttons").slideUp();#}
        $(".login_form").slideDown();
 
    });
    $(document).on("click", "#submit_login", function() {
        $(".login_form").css('opacity', '0.5');
    });
    
    {% if email %}

        $(document).ready(function() {
            $('#id_email').val("{{ email }}");
              $(".login_form").slideDown();
        });

{% endif %}

</script>
