{% extends "users/users_narrow_base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap5 %}

{% block title %}{% trans "Register" %}{% endblock %}



{% block content %}

             <div class="text-center mb-4">
                <img src="{{ LOGO_URL }}" alt="{{ SITE_NAME}}" width="120">
            </div>

            <h2 class="text-center mb-4">Register for an Account</h2>

            <form id="register" method="post">
                {% csrf_token %}
                {% bootstrap_field form.first_name %}
                {% bootstrap_field form.last_name %}
                {% bootstrap_field form.email %}
                {% bootstrap_field form.password %}


{#                <p>You can choose to verify your account by email or from an SMS. </p>#}
                {% bootstrap_field form.preferred_channel %}
                <div id="mobile" style="display:none;">
                    {% bootstrap_field form.mobile %}
                    <div id="phone-feedback" class="invalid-feedback"></div>

                </div>
                <button type="submit" class="btn btn-primary w-100">{{ REGISTER_TERM }}</button>
            </form>

            <div class="text-center mt-3">
                <p>Already Registered? &nbsp;<a href="{% url "users:login" %}" class="text-primary">{{ LOGIN_TERM }}</a>
            </div>
   <div class="text-center mt-3">
                <p>Problem with Registering? &nbsp;<a href="{% url "users:problem_register" %}" class="text-primary">Help me {{ REGISTER_TERM }}</a>
            </div>





    <!-- Include intl-tel-input CSS and JavaScript -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

    <!-- Include Google's libphonenumber utils for validation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js"></script>

    <script>

        $(document).ready(function() {

            const phoneInputField = $("#id_mobile");




// can pass email as a query parameter if you want it prepopulated
            let emailParam = getQueryParam('email');
            if (emailParam) {
                $('#id_email').val(emailParam);
            }



            // Form submit event handler to set the formatted phone number
            $("#register").on("submit", function (event) {

                let phoneNumber = '';

                if ($('[name="preferred_channel"]:checked').val() != "email") {


                    if (!iti.isValidNumber()) {
                        event.preventDefault();
                        phoneInputField.addClass("is-invalid");
                    } else {
                        // Set the phone number in international format before submitting
                        phoneNumber = iti.getNumber();
                        phoneInputField.val(phoneNumber); // Set value in international format
                    }
                }

            });

            // Remove error class when user starts editing
            phoneInputField.on("input", function () {
                phoneInputField.removeClass("is-invalid");
            });




            // Initialize intl-tel-input with options

            const iti = intlTelInput(phoneInputField[0], {
                initialCountry: "auto",
                utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
                separateDialCode: true,
                geoIpLookup: function(callback) {
                    $.get('https://ipinfo.io', function() {}, 'jsonp').always(function(resp) {
                        const countryCode = (resp && resp.country) ? resp.country : "us";
                        callback(countryCode);
                    });
                }
            });
            $(".iti").addClass("w-100");
            // Real-time validation on input event
            phoneInputField.on("input", function() {
                // Check if the phone number is valid
                if (iti.isValidNumber()) {
                    // Show success feedback
                    phoneInputField.removeClass("is-invalid").addClass("is-valid");
                    $("#phone-feedback").text("Valid phone number").removeClass("invalid-feedback").addClass("valid-feedback");
                } else {
                    // Show error feedback
                    phoneInputField.removeClass("is-valid").addClass("is-invalid");
                    $("#phone-feedback").text("Please enter a valid phone number").removeClass("valid-feedback").addClass("invalid-feedback");
                }
            });


            // Remove error class when user starts editing
            phoneInputField.on("input", function() {
                phoneInputField.removeClass("is-invalid");
            });

            $("input[name='preferred_channel']").on("change", function () {
                if ($(this).val() == "email") {
                    $("#mobile").hide();
                } else {
                    $("#mobile").show();
                }
            });

        });
    </script>



{% endblock %}
