{% extends "users/users_narrow_base.html" %}
{% load i18n %}

{% block title %}Verify your Skorie Account{% endblock %}
{% block content %}

    {% if not can_login %}
    <h2>{% trans "Verify Your Account" %}</h2>
    <p>{% trans "Enter the verification code you received." %}</p>
    <form method="post">
        {% csrf_token %}

            <input type="text" name="code" class="form-control" id="id_code" placeholder="Verification Code" required>

        <button type="submit" class="btn btn-primary">{% trans "Verify" %}</button>
    </form>
    {% for item in user2verify.comms_channels.all %}

        <button  class="btn btn-secondary resend_verify_code" data-channel_pk="{{ item.pk }}">{% trans "Resend Verification Code to" %} {{ item.get_channel_type_display }}  {{ item.value }}</button>
    {% endfor %}

         <button  class="btn btn-secondary add_channel" >{% trans "Add another option" %}</button>

    {% else %}

          <div class="row login-form">
                <div class="col-12">
                    {% include "users/include_login_form.html" %}
                </div>
            </div>

    {% endif %}
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function() {
            $('.resend_verify_code').click(function() {
                var channel_pk = $(this).data('channel_pk');
                $.post("{% url 'users:resend_verify_code' %}", {
                    channel_pk: channel_pk
                }).done(function() {
                    clear_header_messages();
                    console.log("message sent");
                });
            });
            return false;
        });

        {% if can_login %}
            $("#id_email").val("{{ user2verify.email }}");
        $(".login_form").slideDown();
        {% endif %}
    </script>
{% endblock %}
